div.top-header-container {
    height: 7em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2.page-title {
}

div.top-header-stripe {
    height: 3.5em;
    width: 100%;
    background-color: #ff744d;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    z-index: 0;
}

div.top-header-title {
    position: relative;
    top: -1em;
    display: block;
    background-color: #ffe8de;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0 15px;
    z-index: 1;
}
