nav.top-nav-bar ul {
    list-style-type: none;
    padding: 0;
    display: block;
}

nav.top-nav-bar > ul > li > a {
    display: inline-block;
    text-decoration: none;
    width: 33%;
    background: #def8ff;
    padding: 5px 0;
}

nav.top-nav-bar > ul > li:first-child {
    text-align: left;
}

nav.top-nav-bar > ul > li {
    text-align: center;
}

nav.top-nav-bar > ul > li:last-child {
    text-align: right;
}

nav.top-nav-bar > ul > li > a:hover {
    transition: background-color 500ms;
    background: #bdd1d7;
}

nav.top-nav-bar > ul > li {
    display: inline;
}
